<template>
  <NuxtLayout>
    <NuxtLoadingIndicator />
    <NuxtPage />
  </NuxtLayout>
</template>

<script setup lang="ts">
const title = ref(
  "Monito Shop - Toko Hewan Peliharaan Terbaik - Makanan, Mainan, & Aksesoris Berkualita"
);
const description = ref(
  "Belanja kebutuhan hewan peliharaan Anda di toko kami. Temukan makanan, mainan, dan aksesoris berkualitas tinggi dengan harga terjangkau. Pengiriman cepat!"
);
useHead({
  titleTemplate: (titleChunk: any) => {
    return titleChunk ? `${titleChunk} - Monito Shop` : "Monito Shop";
  },
  link: [
    {
      rel: "preload",
      as: "image",
      href: "/images/icons/logo.svg",
    },
    {
      rel: "preload",
      as: "image",
      href: "/images/icons/search.svg",
    },
    {
      rel: "preload",
      as: "image",
      href: "/images/illustration/img-1.png",
    },
  ],
  meta: [
    //Open Graph
    {
      key: "og-type",
      property: "og:type",
      content: "website",
    },
    {
      key: "og-url",
      property: "og:url",
      content: `https://monitoshop.netlify.app/`,
    },
    //Twitter
    {
      key: "twitter-card",
      property: "twitter:card",
      content: "summary_large_image",
    },
    {
      key: "twitter-url",
      property: "twitter:url",
      content: `https://monitoshop.netlify.app/`,
    },
  ],
});

useSeoMeta({
  description: description,
  ogTitle: title,
  ogDescription: description,
  ogImage: `https://monitoshop.netlify.app/assets/images/cover.jpg`,
  twitterTitle: title,
  twitterDescription: description,
  twitterImage: `https://monitoshop.netlify.app/assets/images/cover.jpg`,
});
</script>