$dark-blue: #003459;
$dark-blue-80: #002a48;
$dark-blue-60: #00528c;
$dark-blue-40: #0078cd;
$mon-yellow: #f7dba7;
$mon-yellow-80: #eec77e;
$mon-yellow-60: #f1d092;
$mon-yellow-40: #fceed5;
$pink-red: #ff564f;
$green-light: #34c759;
$orange-shine: #ff912c;
$blue-sea: #00a7e7;
$color-100: #00171f;
$color-80: #242b33;
$color-60: #667479;
$color-40: #99a2a5;
$color-20: #ccd1d2;
$color-10: #ebeeef;
$color-00: #fdfdfd;
